html,
body{
    height: 100%;
}

img{
    max-width: 100%;
}

#cover{
    background: #222 center no-repeat;
    background-size: cover;
    color: white;
    height: 100%;
    text-align: center;
    display: flex;
    align-items: center;
}

#cover-caption{
    width: 100%;
}

.section-content{
    padding: 5rem 0;
}

#about{
    background: url("../img/IMG_2642.JPG") center no-repeat;
    background-size: cover;
}

.about-text{
    background: rgba(0,0,0,0.5);
    color: white;
    padding: 1.87rem;
}

.logo{
    max-height: 45px;
}


li>a.nav-link:hover{
    background: gold;
    border-radius: 50px;
    font-style: italic;
}

#footer-main{
    background: grey;
    color: white;
    font-size: 0.8rem;
    padding: 2.5rem;
}